@font-face {
  font-family:Kumbh_ExtraBold ;
  src: url(KumbhSans-VariableFont_YOPQ\,wght.ttf);

}

@font-face {
  font-family:Kumbh_Bold ;
  src: url(KumbhSans-VariableFont_YOPQ\,wght.ttf);

}
@font-face {
  font-family:Kumbh_regular ;
  src: url(KumbhSans-VariableFont_YOPQ\,wght.ttf);

}


.primary_theme_light{
  background-color:#5964e0;
}
.secondary_theme_light{
  background-color: #f4f6f8;
}
.primary_theme_dark{
  background-color: #121721;
}

.secondary_theme_dark{
  background-color: #19202d;
}
.fit_content{
height: fit-content;
width: fit-content;
}

.App {
  text-align: center;
  background-color: #f4f6f8;
  height: 100%;
  width: 100%;

}


.top_section{
  font-style: Kumbh_regular;
  border-bottom-left-radius: 70px;
  background-color: #5964e0;
  height: fit-content;
  width: 99%;
  margin-left: 1%;
  padding: 40px;

}

.filter_bar{
  position:absolute;
  top: 20%;
  left: 17%;
  background-color: white;
  border-radius: 5px;
}

.main_title{
  font-style: Kumbh_ExtraBold;
  font-size: 30px;
  color: white;
  font-weight: 600;
  
}

input[type="checkbox"]
{
appearance: none;
background-color:#f4f6f8 ;
border-radius: 5px;
  width: 19px;
  height: 19px;
  margin-right: 10px;
  margin-top: 10px;
  
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: block;
  text-align: center;

  color:#5964e0;
}

.bi.bi-search{
  position: absolute;
  top: 40%;
  left: 3%;
}

.bi.bi-geo-alt-fill{
  position: absolute;
  top: 40%;
  left: 42.55%;
}
input[type="text"]
{
  padding-left:30px;
  width: 200px;
  border: 0px;
  border-right: 1px solid lightgray;
  margin-left: 5px;
}
input[type="text"]:first-child
{
  width: 300px;
  border-right: 1px solid lightgray;
  
}


label{
  font-size: 14px;
  font-family: Kumbh_regular;
  font-weight: 700;
  margin-top: 10px;
}

.search_btn{
  background-color: #5964e0;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 7px;
  color: white;


}
.search_btn:hover{
  background-color:#6771e3 ;
}

.small_font{
  font-size: 14px;
}



.card_wrapper{
  height: 190px;
  padding: 20px;
  border-radius: 5px;
}

.middle_section{
  margin-top: 80px;
}

.company{
  font-style: Kumbh_regular;
  font-weight: 700;
  font-size: 14px;
  color: #6771e3;
}