.modal_background{
    position:absolute;
    top: 170px;
    padding-right:20px;
    display: block;
    z-index: 10;
    
}


.description_header{

    margin-left: 80px;
    width: 85%;
    margin-top: -55px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;


    
}

.last_flex{
    display: flex;
    flex-direction: column;
}

.links{
    text-decoration: none;
    color: blueviolet;
    font-family: Kumbh_regular;
    font-weight: 600;
    height: fit-content;
    border-radius: 5px;
    padding:10px;



}

.another_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal_thumbnail{
width:100px;   
height: 100px;
}

.modal_body{
    width: 85%;

    margin-left: 80px;
}
.modal_title{
    font-family: Kumbh_ExtraBold;

}
.big_link{
    background-color: #5964e0;
    color: white;
    font-size: 16px;
    padding-left:30px;
    padding-right:30px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Kumbh_Bold;
    font-weight: 600;
    height: fit-content;
    margin-top: 15px;

}
.big_link:hover{
    background-color:#6771e3 ;
}
.job_description{
    font-family: Kumbh_regular;

}
li::before{

    content: "\2022";  
    color:#5964e0; 
    margin-right: 15px;
    height: 10px;
    width: 10px;
    

}
.another_li li{
    display: list-item;
    
}
.another_li li::before{
    content: none;
}


li{
    display: block;
    margin-bottom: 15px;
}

.generic_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.custom_dimensions{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    width: 1195px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media  (max-width:768px){

    .description_header{
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-top: -60px;
    }

    .generic_flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .another_flex{
        flex-direction: column;
    
    }
   

    .modal_thumbnail{
        border-radius: 10px;
        position: absolute;
        top: -90px;
        left: 52%;
        width: 50px;
        height: 50px;
    }

    .last_flex{
        display: none;
    }

    .custom_dimensions{
        display: block;
    }

   
}