.modal_background{
    position:absolute;
    top: 170px;
    padding-right:20px;
    display: block;
    z-index: 10;
    
}


.description_header{

    margin-left: 80px;
    width: 85%;
    margin-top: -55px;
    display: flex;
    flex-direction: row;


    
}

.links{
    text-decoration: none;
    color: blueviolet;
    font-family: Kumbh_regular;
    font-weight: 600;
    height: fit-content;
    border-radius: 5px;
    padding:10px;



}

.modal_thumbnail{
width:100px;   
height: 100px;
}

.modal_body{
    width: 85%;

    margin-left: 80px;
}
.modal_title{
    font-family: Kumbh_ExtraBold;

}
.big_link{
    background-color: #5964e0;
    color: white;
    font-size: 16px;
    padding-left:30px;
    padding-right:30px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Kumbh_Bold;
    font-weight: 600;
    height: fit-content;
    margin-top: 15px;

}
.big_link:hover{
    background-color:#6771e3 ;
}
.job_description{
    font-family: Kumbh_regular;

}
li::before{

    content: "\2022";  
    color:#5964e0; 
    margin-right: 15px;
    height: 10px;
    width: 10px;
    

}
.another_li li{
    display: list-item;
    
}
.another_li li::before{
    content: none;
}


li{
    display: block;
    margin-bottom: 15px;
}

.custom_dimensions{
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    width: 1195px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media  (max-width:768px){

}